<footer>
  <div class="social">
    <a href="https://github.com/andrereus" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://codepen.io/andrereus" target="_blank"><i class="fab fa-codepen"></i></a>
    <a href="https://www.behance.net/andrereus" target="_blank"><i class="fab fa-behance"></i></a>
    <a href="https://soundcloud.com/andrereus" target="_blank"><i class="fab fa-soundcloud"></i></a>
    <a href="https://twitter.com/mrandrereus" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</footer>
