<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set theme %}
    {% include "theme.njk" %}
  {% endset %}
  <style>{{ theme | cssmin | safe }}</style>
  <link rel="stylesheet" href="{{ '/_includes/assets/css/icons/brands.min.css' | url }}">
  {% set style %}
    {% include "assets/css/style.css" %}
  {% endset %}
  <style>{{ style | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  <!-- VISA Tracking Code for https://andrereus.com/ -->
  <script>(function(v,i,s,a){if(!v._visaSettings){v._visaSettings={};}v._visaSettings["0a4c8867-cd98-11ea-b589-901b0edac50a"]={v:"0.3",s:"0a4c8867-cd98-11ea-b589-901b0edac50a",a:"1"};_v=i.getElementsByTagName("head")[0];_a=_v;_i=i.createElement("script");_s=_i;_s.defer="defer";_s.src=s+a+v._visaSettings["0a4c8867-cd98-11ea-b589-901b0edac50a"].v;_a.appendChild(_s);})(window,document,"//app-worker.visitor-analytics.io/main",".js?s=0a4c8867-cd98-11ea-b589-901b0edac50a&v=")</script>
  <!-- VISA Tracking Code for https://andrereus.com/ -->
</head>
