---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

<div class="projects">
    <h2>Personal Projects</h2>
    <ul>
        <li>
            <a href="https://pkutools.com/" target="_blank">☕ PKU Tools</a>
        </li>
        <li>
            <a href="https://simple-nutrition-calculator.com/" target="_blank">🌀 Simple Nutrition Calculator</a>
        </li>
        <li>
            <a href="https://pkumanager.com/" target="_blank">🍴 PKU Manager</a>
        </li>
        <li>
            <a href="https://pherechner.de/" target="_blank">📝 Phe Rechner</a>
        </li>
    </ul>
    <p>See more on <a href="https://github.com/andrereus" target="_blank">GitHub</a>.</p>
</div>