---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

<div class="projects">
    <h2>Latest Personal Projects</h2>
    <ul>
        <li>
            <a href="https://pkutools.com/" target="_blank">☕ PKU Tools (PWA)</a>
        </li>
        <li>
            <a href="https://simple-nutrition-calculator.com/" target="_blank">🌀 Simple Nutrition Calculator (PWA)</a>
        </li>
        <li>
            <a href="https://pkumanager.com/" target="_blank">🍴 PKU Manager (Hybrid App)</a>
        </li>
        <li>
            <a href="https://pherechner.de/" target="_blank">📝 Phe Rechner (Hybrid App)</a>
        </li>
        <li>
            <a href="https://andrereus.github.io/andrereus-com/" target="_blank">🤵 Old Personal Website</a>
        </li>
        <li>
            <a href="https://andrereus.github.io/andrereus-de/" target="_blank">🤵 Older Personal Website</a>
        </li>
    </ul>
    <p>Others are already offline or not directly a website.</p>
    <p>See screenshots of them and more on the old personal websites and <a href="https://github.com/andrereus" target="_blank">GitHub</a>.</p>
</div>